/* Add CSS Styling */
.p {
    background-color: #ffc0cb;
    font-family: Verdana, "DejaVu Sans", sans-serif;

}

#numbahtwo {
    color: #0000ff;
    font-size: 36px;
}

.coolclass {
    font-size: 24px;
}

#fourth {
    background-color: #90ee90;
    font-size: 24px;
    font-weight: bold;
}