/* Add CSS Styling */
.Click {
    background-color: black;
    color: white;
}
.Noclick {
    background-color: yellow;
}

.Click, .Noclick {
    font-size: 28px;
    font-family: Helvetica, 'Times New Roman', sans-serif;
}